.registre-se {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.registre-se .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 2735px;
  height: 1824px;
  position: relative;
}

.registre-se .frame {
  display: flex;
  width: 405px;
  height: 121px;
  top: 62px;
  left: 1072px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
}

.registre-se .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #2f3367;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.registre-se .div-wrapper {
  display: flex;
  width: 1386px;
  height: 69px;
  top: 205px;
  left: 1072px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
}

.registre-se .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -60px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #303468;
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;
}

.registre-se .overlap {
  position: absolute;
  width: 1626px;
  height: 295px;
  top: 1493px;
  left: 1072px;
}

.registre-se .group {
  position: absolute;
  width: 1528px;
  height: 140px;
  top: 147px;
  left: 28px;
}

.registre-se .frame-2 {
  display: inline-flex;
  top: 86px;
  left: 0;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
}

.registre-se .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #393d6e;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.registre-se .frame-3 {
  display: inline-flex;
  top: 86px;
  left: 469px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
}

.registre-se .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #007dfa;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.registre-se .line {
  position: absolute;
  width: 1528px;
  height: 1px;
  top: -1px;
  left: 0;
  object-fit: cover;
}

.registre-se .div-2 {
  position: absolute;
  width: 1222px;
  height: 161px;
  top: 0;
  left: 0;
}

.registre-se .overlap-group {
  position: relative;
  height: 161px;
}

.registre-se .rectangle {
  position: absolute;
  width: 1222px;
  height: 150px;
  top: 0;
  left: 0;
  background-color: #f5f5f7;
  border-radius: 10px;
}

.registre-se .frame-4 {
  display: inline-flex;
  height: 115px;
  top: 46px;
  left: 167px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
}

.registre-se .div-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.registre-se .span {
  color: #8b8fa8;
}

.registre-se .text-wrapper-4 {
  color: #ff1100;
}

.registre-se .iconly-bold-profile {
  position: absolute;
  width: 83px;
  height: 69px;
  top: 40px;
  left: 34px;
}

.registre-se .next-BTN {
  position: absolute;
  width: 400px;
  height: 90px;
  top: 205px;
  left: 1226px;
  background-color: #007dfa;
  border-radius: 15px;
}

.registre-se .chevron-right {
  position: absolute;
  width: 89px;
  height: 89px;
  top: 1px;
  left: 320px;
}

.registre-se .text-wrapper-5 {
  position: absolute;
  height: 60px;
  top: 15px;
  left: 59px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.registre-se .group-2 {
  position: absolute;
  width: 1222px;
  height: 322px;
  top: 526px;
  left: 1072px;
}

.registre-se .overlap-group-wrapper {
  position: absolute;
  width: 1222px;
  height: 161px;
  top: 161px;
  left: 0;
}

.registre-se .overlap-wrapper {
  position: absolute;
  width: 1222px;
  height: 161px;
  top: 365px;
  left: 1072px;
}

.registre-se .overlap-2 {
  position: absolute;
  width: 1226px;
  height: 319px;
  top: 1009px;
  left: 1072px;
}

.registre-se .group-3 {
  position: absolute;
  width: 1226px;
  height: 161px;
  top: 0;
  left: 0;
}

.registre-se .group-4 {
  position: absolute;
  width: 1222px;
  height: 161px;
  top: 158px;
  left: 0;
}

.registre-se .overlap-3 {
  position: absolute;
  width: 1222px;
  height: 161px;
  top: 1332px;
  left: 1072px;
}

.registre-se .olho {
  position: absolute;
  width: 56px;
  height: 40px;
  top: 50px;
  left: 1123px;
}

.registre-se .group-5 {
  position: absolute;
  width: 1222px;
  height: 161px;
  top: 848px;
  left: 1072px;
}

.registre-se .component {
  position: absolute;
  width: 773px;
  height: 67px;
  top: 274px;
  left: 1354px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid;
  border-color: #de4242;
}

.registre-se .os-itens-assinalados {
  position: absolute;
  height: 36px;
  top: 11px;
  left: 11px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.registre-se .text-wrapper-6 {
  color: #000000;
}

.registre-se .text-wrapper-7 {
  color: #de4242;
}

.registre-se .left {
  position: absolute;
  width: 655px;
  height: 1824px;
  top: 26px;
  left: 42px;
}

.registre-se .overlap-4 {
  position: relative;
  width: 840px;
  height: 1831px;
  top: -30px;
  left: -53px;
  background-color: #007fda;
}

.registre-se .logo-projeto {
  position: absolute;
  width: 412px;
  height: 371px;
  top: 124px;
  left: 214px;
  object-fit: cover;
}

.registre-se .text-wrapper-8 {
  position: absolute;
  top: 529px;
  left: 43px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.registre-se .rastreamento-e {
  position: absolute;
  top: 626px;
  left: 84px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
