* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

header {
    background-color: #007dfa;
    color: white;
    margin: 1px;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.accordion {
    margin: 60px auto;
    width: 700px;
}

.accordion li {
   list-style: none; 
   width: 100%;
   margin: 20px;
   padding: 10px;
   border-radius: 15px;
   background: #ffffff;
   box-shadow: 0px 3px 2px 0px rgba(75, 72, 72, 0.712),
                -7px 0px 0px -2px rgb(4, 0, 231);
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}

label::after {
    content: url('vetor/vector1.png');
    margin-right: 10px;
    font-size: 26px;
    font-weight: 600;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: #555;
    padding: 2px 10px;
    line-height: 26px;
    font-size: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::after {
    content: url('vetor/vector2.png');
}

.space {
    height: 20px;
}
