@charset "UTF-8";

@media screen and (min-width: 1026px) and (max-width: 1195px) {

  body,.container{
    width: 1180px;
    margin: auto;
    height: 100%;
  }

  header {
    width: 100%;
  }

  .titulo {
    margin-top: 10px;
  }

  .subtitulo {
    left: 45vw;
    font-size: 1.4em;
    margin-top: 15pt;
  }

  #caixausuario {
    margin-top: 0%;
    left: 79%;
  }

  .caixa {
    left: 88%;
  }

  .sinoimg {
    left: 35%;
}
  .sair {
      transform: translateX(3335%);
  }

  .form-section-01 {
    width: 100%;
    font-size: 0.94em;
}

.form-section-01 > #datacadastro {
  border-radius: 0px 10px 10px 0px;
  width: 197px;
}

.form-section-one {
  font-size: 0.8em;
}

.form-section-two {
  font-size: 0.8em;
}

#campo-endereco {
  font-size: 1.6em; margin-bottom: 0px; margin-top: 20px;
}

#cep {
  width: 100px;
}

#ibairro {
  width: 250px;
}

#irua {
  width: 150px;
}

#inum {
  width: 85px;
}

#icomplemento {
  width: 115px;
}

.div-factors > h3 {
  margin-top: -570px;
  font-size: 1.2em;
  padding-right: 40px;
}

.risk-factors {
  margin-top: -540px;
  padding-bottom: 0%;
}

.risk-factors label{
  width: 370px;
}

.radio-group > p {
  margin-top: 4%;
}

.botoes {
  height: 60px;
  margin-bottom: 20px;
}


.risk-level >  label {
  width: 300px;
}

.form-section-voltar > [type="submit"] {
  font-size: 0.9em;
}

.form-section-obrigatorio {
  width: 420px;
  font-size: 0.8em;
}

.form-section-download {
  margin-left: 45px;
  margin-top: 35px;
}

.form-section-download > img {
  width: 40px;
  height: 40px;
}

.form-section-validar-tel > [type="submit"] {
  font-size: 0.9em;
  margin-right: 40px;
  margin-left: 15px;
}

.form-section-confirmar > [type="submit"] {
  font-size: 0.9em;
}

}

@media screen and (max-width: 1025px) {
    body,.container{
      width: 1024px;
      margin: auto;
      height: 100%;
    }
  
    header {
      width: 100%;
      margin: auto;
    }
    .titulo {
      font-size: 4vh;
      margin-top: 15px;
    }
  
    .subtitulo {
      left: 45%;
      font-size: 3vh;
      margin-top: 20px;
    }
  
    #caixausuario {
      left: 80%;
      margin-top: 0%;
    }

    .usuario {
      font-size: 2vh;
      width: 25px;
    height: 25px;
    }
  
    .caixa {
      left: 78%;
      font-size: 2vh;
    }
  
    .sinoimg {
      left: 60%;
      width: 28px;
  }
    .sair {
        transform: translateX(2850%);
    }
  
    .form-section-01 {
      width: 100%;
      font-size: 0.709em;
  }
  
  .form-section-01 > #datacadastro {
    border-radius: 0px 10px 10px 0px;
    width: 148px;
  }
  
  .form-section-one {
    font-size: 0.7em;
  }
  
  .form-section-two {
    font-size: 0.7em;
  }
  
  #campo-endereco {
    font-size: 1.45em; margin-bottom: 0px; margin-top: 20px;
  }
  
  #cep {
    width: 100px;
  }
  
  #ibairro {
    width: 200px;
  }
  
  #irua {
    width: 125px;
  }
  
  #inum {
    width: 75px;
  }
  
  #icomplemento {
    width: 105px;
  }
  
  .div-factors > h3 {
    margin-top: -555px;
    font-size: 1em;
    padding-right: 40px;
  }
  
  .risk-factors {
    margin-top: -530px;
    padding-bottom: 1.25%;
    left: 10px;
  }
  
  .risk-factors label{
    font-size: 0.8em;
    width: 310px;
  }

  .radio-group > p {
    font-size: 0.9em;
    margin-top: 4%;
  }
  
  .botoes {
    height: 60px;
    margin-bottom: 20px;
  }
  
  
  .risk-level >  label {
    width: 240px;
  }
  
  .form-section-voltar > [type="submit"] {
    font-size: 0.8em;
  }
  
  .form-section-obrigatorio {
    width: 380px;
    font-size: 0.7em;
    margin-left: 25px;
  }
  
  .form-section-download {
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 15px;
  }
  
  .form-section-download > img {
    width: 40px;
    height: 40px;
  }
  
  .form-section-validar-tel > [type="submit"] {
    font-size: 0.8em;
    margin-right: 13px;
    margin-left: 12px;
  }
  
  .form-section-confirmar > [type="submit"] {
    font-size: 0.8em;
    margin-left: 20px;
  }
  
  .label1{
    left: 8vw;
  }

  .label1 span{
    width: 5vw;
  }

  .label2 span{
    width: 5vw;
  }


  }

@media screen and (min-width: 1281px) {
    body {
        max-width: 75vw;
        background-image: url('imagens/fundo.jpg');
        margin: auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    }

    .form-section-01 {
        margin-left: 50px;
        margin-right: 50px;
    }

    .posicionar {
      width: 100px;
    }

    .container {
    max-width: 75vw;
    height: 102%;
    margin: auto;
    }

    header {
      display: flex;
      text-align: center;
      padding: 10px;
      align-items: center;
    }

    .posicionar {
      top: 5vh;
      right: 2px;
    }

    .titulo {
      left: 19vw;
    }

    .subtitulo {
      margin-top: 5pt;
      left: 47vw;
      font-size: 1.6em;
    }

    #caixausuario {
      left: 70vw;
      margin-top: 0%;
    }

    .usuario {
      font-size: 3vh;
      width: 40px;
      height: 40px;
    }
  
    .caixa {
      font-size: 3vh;
      margin-left: 4px;
    }
  
    .sinoimg {
      width: 32px;
      margin-left: 11px;
      margin-top: 4px;
    }
    .sair {
      transform: translateX(4120%);
    }

    .form-section-01 {
        margin-top: -2px;
    }

    .risk-level {
      padding: auto;
    }

    .div-factors > h3 {
      margin-right: 50px;
    }

    .risk-factors {
      text-align: center;
    }

    .botoes {
      margin-top: -5px;
    }

    .form-section-validar-tel > [type="submit"] {
        margin-right: 110px;
        margin-left: 100px;
      }
  }
