* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.asc {
    color: red;
    display: inline-block;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    height: 75vh;
    width: 100vw;
}

.container {
    background-color: white;
    width: 100vw;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    margin-bottom: 20px;
    background-color: #007bff;
    border-radius: 10px 0px 10px 0px;
    padding: 5px;
}

header > img{
    display: inline-block;
    width: 100px;
}

header > h1,h2 {
    display: inline-block;
    padding-left: 10px;
    text-align: center;
    transform: translateY(-50%);
}

header > h2 {
    padding-left: -20px;
}

header h1 {
    color: white;
    margin-bottom: 5px;
    font-size: 2.0em;
}

header h2 {
    color: white;
    font-size: 1em;
    margin: auto;
    padding-left: 50px;
}


.form-section-01 {
    width: 1200px;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.form-section-01 > .infoacs {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 10px 2px 10px;
    margin-left: -5px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
}

caption {
    font-weight: bolder;
    text-align: left;
    display: inline-block;
}

#hifen {
    border: 0;
}

.form-section-01 > #cbo {
    padding-right: 10px;
}

.form-section-01 > #cbo {
    border-radius: 0;

}

.form-section-01 > #cnes {
    border-radius: 0;
}

.form-section-01 > #ine {
    border-radius: 0;
}

.form-section-01 > #microarea {
    border-radius: 0;
}

.form-section-01 > #datacadastro {
    border-radius: 0px 10px 10px 0px;
    width: 200px;
}

.form-section-voltar{
    width: 150px;
    padding: 10px;
    display: inline-block;
}

.form-section-one{
    height: 50%;
    width: 33%;
    padding: 10px;
    display: inline-block;
}

.form-section-two{
    height: 50%;
    width: 33%;
    padding: 10px;
    display: inline-block;
}

.form-section label {
    display: block;
    font-weight: bold;
}

.form-section-one label{
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        padding-bottom: 5px;
        padding-top: 10px;
        color: gray;
}

.form-section-one > p {
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-section-two {
    position: absolute;
}


.form-section-two label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
    color: gray;
}

.form-section-two > p {
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-section input,
.form-section input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-section-one input,
.form-section-one input {
    border: 3px solid black;
    border-radius: 10px;
    padding: 12px;
    width: calc(100% - 20px);
    font-weight: bold;
}

.form-section-one > select{
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 12px;
    width: calc(100% - 20px);
    cursor: pointer;
}

.form-section-one option{
    font-size: 1.5em; 
    color: black;
    background-color: white;
    padding: 5px;
    border-bottom: 1px solid black;
    transition: background-color 0.3s ease;
 }

 .form-section-one option:hover {
    background-color: blue;
 }

 .form-section-one option:checked {
    background-color: white;
 }

.form-section-two input,
.form-section-two input {
    border: 3px solid black;
    border-radius: 10px;
    padding: 12px;
    width: calc(100% - 20px);
    font-weight: bold;
}

.form-section input[type="text"]:disabled,
.form-section input[type="email"]:disabled {
    background-color: #e9ecef;
}

#campo-endereco {
    font-size: 1.7em; margin-bottom: 0px; margin-top: 20px;
}

.form-section-three > div {
    display: inline-block;
}

#cep {
    width: 100px;
}

#ibairro {
    width: 280px;
}

#irua {
    width: 150px;
}

#inum {
    width: 85px;
}

#icomplemento {
    width: 140px;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100px;
}

.radio-group > p{
    width: 200px;
    color: rgb(0, 0, 0);
    position: absolute;
    float: left;
}

.radio-group button[type="submit"] {
    margin-right: 5px;
    margin-left: 10px;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 15px;
    padding: 3px 15px 3px 15px;
    display: inline-block;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.301);
    position: relative;
    margin-left: 150px;
    margin-right: -130px;
}

.radio-group button[type="submit"]:hover{
    background-color: rgba(255, 0, 0, 0.342);
}

.radio-group button[type="submit"]:checked{
    background-color: red;
}

.radio-group label {
    margin-right: 20px;
}

.risk-factors {
    width: 33%;
    height: 84%;
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    position: relative;
    display: inline-block;
    float: right;
    background-color: #49bbc691;
    border-radius: 20px;
}

.risk-factors h3 {
    margin-bottom: 20px;
}

.risk-factors > div {
    margin-bottom: 10px;
    display: block;
}

.risk-factors label {
    width: 370px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
}

.risk-level {
    margin-top: 70px;
}

.risk-status {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 130px;
    border: 1px solid black;
}

.botoes {
    display: inline-flex;
    height: 90px;
}

.form-section-voltar > [type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 40px;
    float: left;
}

.form-section-voltar > [type="submit"]:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.form-section-obrigatorio {
    border: 2px solid red;
    border-radius: 10px;
    width: 450px;
    padding: 6px 0px 2px 4px;
    margin-left: 50px;
    margin-top: 50px;
}

.form-section-download {
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 45px;
}

.form-section-download > img {
    width: 50px;
    height: 50px;
    position: relative;
}

.form-section-validar-tel > [type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 30px;
    width: 150px;
}

.form-section-validar-tel > [type="submit"]:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.form-section-confirmar > [type="submit"] {
    padding: 10px 20px 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 20px;
}

.form-section-confirmar > [type="submit"]:hover {
    background-color: #0056b3;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .form-section {
        width: 100%;
    }
}
